<?xml version="1.0" ?>
<robot name="baxter" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Arguments -->
  <xacro:arg name="left_tip_name" default="left_gripper"/>
  <xacro:arg name="right_tip_name" default="right_gripper"/>
  <xacro:arg name="left_electric_gripper" default="false"/>
  <xacro:arg name="right_electric_gripper" default="false"/>
  <xacro:arg name="left_robotiq_gripper" default="false"/>
  
  <!-- Base Configuration -->
  <xacro:include filename="$(find baxter_moveit_config)/config/baxter_base.srdf.xacro" />
  <xacro:baxter_base left_tip_name="$(arg left_tip_name)" right_tip_name="$(arg right_tip_name)"/>
  
  <!--Left End Effector Collisions-->
  <!--<xacro:include filename="$(find baxter_moveit_config)/config/default_gripper.srdf.xacro" />
  <xacro:default_gripper side="left"/>

  <xacro:if value="$(arg left_electric_gripper)">
    <xacro:include filename="$(find baxter_moveit_config)/config/rethink_electric_gripper.srdf.xacro" />
    <xacro:rethink_electric_gripper side="left"/>
  </xacro:if> -->

  <xacro:if value="$(arg left_robotiq_gripper)"> <!-- Conditional inclusion of Robotiq gripper -->
    <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" /> <!-- Replace with actual path -->
    <xacro:robotiq_arg2f_85_model_macro side="left"/>
  </xacro:if>
  
  <!--Right End Effector Collisions-->
  <xacro:include filename="$(find baxter_moveit_config)/config/default_gripper.srdf.xacro" />
  <xacro:default_gripper side="right"/>
  
  <xacro:if value="$(arg right_electric_gripper)">
    <xacro:include filename="$(find baxter_moveit_config)/config/rethink_electric_gripper.srdf.xacro" />
    <xacro:rethink_electric_gripper side="right"/>
  </xacro:if>
</robot>